@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
  color: #333333;
}

nav {
  padding: 25px 75px;
  h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
  }
  li {
    display: inline-block;
    padding: 0 0 0 15px;
  }
  a {
    text-decoration: none;
    color: #555555;
  }   
}
