@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

/* media queries */

/* desktop min-width 960px*/

/* desktop max-width 905px*/
@media only screen and (max-width: 905px) {
  #pro-perspective {
    .container {
      grid-template-columns: auto !important;
    }
    .box{
      padding: 20px 0;
    }
    br {
      display: none;
    }
    hr {
      width: 100% !important;
    }
  }
}
/* mobile devices */
@media only screen and (max-width: 650px) {
  
  #about-section {
    margin-bottom: 250px !important;
    text-align: center;
    .about-me {
      width: 100% !important;
      padding: 30px 0 0 0 !important;
    }
  }
}

@media only screen and (max-width: 580px) {
  #count {
    .count-container {
      grid-template-columns: auto !important;
      .box {
        padding: 0 0 20px 0;
      }
    }
  }
  #connect-section {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media only screen and (max-width: 480px) {
  #nav-bar {
    padding: 25px 20px !important;
  }
  #hero {
    text-align: center;
    .hero-container {
      padding: 100px 20px !important;
      h1 {
        font-size: 30px !important;
      }
      br {
        display: none;
      }
      a {
        padding: 15px 40px !important;
      }
    }
  }
  #pro-perspective {
    width: 85%;
  }
  #connect-section {
    padding-left: 20px !important;
    padding-right: 20px !important;
    h2 {
      font-size: 30px !important;
    }
    a {
      padding: 15px 40px !important;
    }
  }
}


/* globals */
body {
  line-height: 1.2;
  background: white;
  color: #333333;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}
p {
  color: #555555;
}

#nav-bar {
  padding: 25px 75px;
  background-color: #ffffff;
  h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
  }
  li {
    display: inline-block;
    padding: 0 0 0 15px;
  }
  a {
    text-decoration: none;
    color: #555555;
  }   
}
/* hero section */
#hero {
  background: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 75vh;
  .hero-container {
    display: inline-block;
    padding: 150px 0 0 75px;
    height: 500px;
    overflow: visible;
    h5 {
      text-transform: uppercase;
      font-size: 14px;
      padding-bottom: 25px;
    }
    h1 {
      font-size: 40px;
      padding-bottom: 20px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      padding-bottom: 40px;
    }
    /* call to action */
    a {
      text-decoration: none;
      border: 1px solid rgb(69, 122, 123);
      background: rgb(69, 122, 123);
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      padding: 20px 80px;
    }
  }
}
/* professional perspective section */
#pro-perspective {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  text-align: center;
  .spacing {
    margin-top: 15px;
    margin-bottom: 100px;
    color: #666666;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 25px;
    .box {
      max-width: 100%;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  p{
    color: #666666;
    font-weight: 300;
  }
  hr {
    border: 1px solid rgb(69, 122, 123);
    width: 75px;
    margin-top: 30px;
  }
}
/* count section */
#count {
  background: #ebebeb;
  margin-bottom: 100px;

  h2 {
    font-size: 50px;
  }
  p {
    text-transform: uppercase;
  }
  .count-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 60px 0 60px 0;
  }
}
/* about me sectio */
#about-section {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  h2 {
    text-transform: capitalize;
    padding-bottom: 15px;
  }
  img {
    max-width: 100%;
  }
  .img-container {
    display: inline-block;
    width: 50%;
  }
  .about-me {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 100px 0 0 20px;
  }
}
/* ready to connect section */
#connect-section {
  background: rgba(40,50,74,1);
  text-align: center;
  color: #ffffff;
  padding: 50px 0 100px 0;
  h2 {
    font-size: 35px;
    padding-bottom: 10px;
  }
  p {
    color: #ffffff;
    padding-bottom: 35px;
  }
  /* call to action */
  a {
    text-decoration: none;
    border: 1px solid rgb(69, 122, 123);
    background: rgb(69, 122, 123);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 80px;
  }
}
/* footer section */
footer {
  padding: 30px 0 30px 0;
  text-align: center;
  color: #666666;
  text-transform: capitalize;
}
